section.section-left {
    height: 100vh;
    width: 70vw;
}

section.section-left .pokeball-boxes {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

section.section-left .pokeball-boxes .pokeballs-box {
    background: linear-gradient(
            90deg,
            rgba(1, 94, 130, .2),
            rgba(248, 246, 244, .1),
            rgba(0, 0, 0, .7),
            rgba(248, 246, 244, .1),
            rgba(1, 94, 130, .2)
            );

    backdrop-filter: blur(10px);
    border: 2px solid #D1DEE4;
    border-radius: 20px;
    width: 60vw;
    height: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

section.section-left .battlefield .versus-top,
section.section-left .battlefield .versus-botton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

section.section-left .battlefield .versus-botton {
    margin-top: 2rem;
}

/*botão*/
.versus-botton #fight {
    display: none;
}

img#player-field-pokemon,
img#enemy-field-pokemon {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.versus-botton button {
    padding: 1.5rem;
    font-weight: 800;
   
    border-radius: 25px;
    box-shadow: inset 0 0 15px #A084DC;
    border: 4px solid #645CBB;
    width: 200px;
    font-size: 1.1rem;
    cursor: pointer;
    background: linear-gradient(130deg, white , #ae9bd7);
}